.default-layout {
  position: relative;
  max-width: 1576px;
  min-width: 1256px;
  height: 100%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(24, 1fr);
  grid-column-gap: 24px;
  padding: 0 12px;

  & > aside.sidebar-wrapper {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 100;
  }

  & > .header-wrapper {
    grid-column-start: 3;
    grid-column-end: 25;
  }

  & > .action-panel-wrapper {
    grid-column-start: 3;
    grid-column-end: 25;
  }

  & > .content-wrapper {
    grid-column-start: 3;
    grid-column-end: 25;
  }
}
