.round-wrapper {
  & .person {
    padding: 0 30px;
    display: flex;
    flex-direction: row;

    & .person-image-wrapper {
      position: relative;
      width: 300px;
      height: 300px;
      border-radius: 150px;
      overflow: hidden;
      // border: 5px solid white;

      & .face {
        font-size: 138px;
        position: absolute;
        top: -11px;
        right: 80px;
      }
    }
    & .person-desc {
      text-align: center;
      color: white !important;
      margin: 10px;
      width: 300px;

      .person-name, .person-party, .person-region {
        color: white;
      }
    }
  }

  .form {
    display: flex;
    align-items: flex-end;
    justify-content: space-evenly;
    width: 400px;
    margin: 30px auto;
  }


  .info {
    margin-left: 20px;
    color: white;

    .info-row {
      margin-bottom: 15px;
      .title {
        color: white;
      }
    }
    .cards {
      display: flex;
      flex-wrap: wrap;

      & .card {
        width: 160px;
        margin-right: 10px;
      }
    }
    .car-img {
      width: 160px;
      position: relative;
      // right: calc(attr(data-offset, 1) * 60px);

      &:first-child {
        right: 0;
      }
    }
  }
}