.container {
  width: 300px;
  margin: auto;
  margin-top: 250px;

  h1 {
    margin-left: 0px;
  }

  & .row {
    margin-bottom: 10px;
  }

  & .login-buttons {
    display: flex;
    justify-content: space-between;
  }

  & :global(.notification) {
    position: fixed;
    top: 20px;
    right: 20px;
  }
}
